body{
  background-color: #DCDCDC;

}
.head{
  width: auto;

}
img {
  width: 10%;
}

#central {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  top: 80px;
  padding:8px;
  background-color: #ADD8E6;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.7);
}
h2{
  font-family: fantasy;
  font-style: normal;
  font-variant: inherit;
  Color: purple;
  text-align: center;
  padding-top: 5%;
  font-size: 30px;

}

h3{
  font-family: arial;
  color: #4B0082;
  padding-left: 5%;
}

li{display: inline;}

#menu{padding:auto;}

.retangulo p {text-align: center;}
.quadrado p {text-align: center;}
.paralelogramo p {text-align: center;}
.triangulo p {text-align: center;}
.losango p {text-align: center;}
.trapezio p {text-align: center;}


.retangulo {float: right; width: 25%; text-align: center;}

.quadrado {float: right; width: 25%;}

.paralelogramo {float: right;  width: 25%;}

.triangulo {float: right;  width: 25%;}

.losango {float: right;  width: 25%;}

.trapezio {float: right;  width: 25%;}

footer {
  padding: 3px;
  background-color: #DCDCDC;
  display: block;
  text-align: center;
}

footer small{
  text-align: center;
  font-size: 1.2rem;
  color: purple;
  line-height: 0.8rem;
  font-family: fantasy;
}



p{
  font-family: sans-serif;
  font-family: arial;
  font-size: 17px;
  padding: 2%;
  text-align: justify;
  text-indent: inherit;
}

div{

}
