body{
  background-color: #white;

}
.head{
  width: auto;
  border-radius: 10px;
}
img {
  width: 28%;

}

#central {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  top: 80px;
  padding:10px;
  background-color: #ADD8E6;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.7);
}
h2{
  font-family: fantasy;
  font-style: normal;
  font-variant: inherit;
  Color: purple;
  text-align: center;
  padding-top: 2%;
  font-size: 30px;

}

h3{
  font-family: arial;
  color: #4B0082;
  padding-left: 5%;
}

nav{
  background-color: white;
  display: block;
  width: 20%;
  float: left;
  border: 2px solid #E4BB97;
  margin: 20px;
  margin-top: 20px;
  border-radius: 10px;

}

ul {
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  text-align: center;
}

li a {
  text-decoration: none;
  font-weight: bolder;
  padding: 10px;
  padding-left: 0px;
  display: block;
}

li a:hover{
  color: white;
  background-color: #E4BB97;
}

#menu{padding:auto;}


.retangulo {float: right; width: 25%;}

.quadrado {float: right; width: 25%;}

.paralelogramo {float: right;  width: 25%;}

.triangulo {float: right;  width: 25%;}

.losango {float: right;  width: 25%;}

.trapezio {float: right;  width: 25%;}

.circulo {float: right;  width: 25%;}

.polregular {float: right;  width: 25%;}

.ret{align-items: center;}

footer {
  padding: 3px;
  background-color: rgba(220,220,220,0.4);
  display: block;
  text-align: center;
}

footer small{
  text-align: center;
  font-size: 1.2rem;
  color: purple;
  line-height: 0.8rem;
  font-family: fantasy;
}

p{
  font-family: sans-serif;
  font-family: arial;
  font-size: 17px;
  padding: 2%;
  text-align: justify;
  text-indent: inherit;
}
